{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Tareas</h1>

    <ul>
        <li class="task-create">
            <form action="{{ path('task_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {{ form_row(form.task) }}
                <div class="hidden">{{ form_widget(form.complete) }}</div>
                {{ form_rest(form) }}

            </form>
        </li>
    </ul> 
    <table class="records_list">
        <tbody>
        {% for entity in entities %}
            <tr>
                <td id="task-complete-{{ entity.id }}">
                    <a class="ajax-task-complete" href="{{ path('task_edit_complete', { 'id': entity.id }) }}">
                        {% if entity.complete %} X {% else %} O {% endif %}</a>
                </td>
                <td id="task-task-{{ entity.id }}">
                    <a id="task-task-{{ entity.id }}" class="editable editable-click" data-title="Introduce una tarea"
                        href="#">{{ entity.task }}</a>
                </td>
                {# <td>{{ entity.complete }}</td><td>{% if entity.created %}{{ entity.created|date('Y-m-d') }}{% endif %}</td> #}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('task_show', { 'id': entity.id }) }}">muestra</a>
                    </li>
                    <li>
                        <a href="{{ path('task_edit', { 'id': entity.id }) }}">edita</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
