{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Tareas</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tarea</th>
                <th>Completada</th>
                <th>Creada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td id="task-complete-{{ entity.id }}">
                    <a class="ajax-task-complete" href="{{ path('task_edit_complete', { 'id': entity.id }) }}">{% if entity.complete %} X {% else %} O {% endif %}</a>
                </td>
                <td>{{ entity.task }}</td>
                <td>{{ entity.complete }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('task_show', { 'id': entity.id }) }}">muestra</a>
                    </li>
                    <li>
                        <a href="{{ path('task_edit', { 'id': entity.id }) }}">modifica</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('task_new') }}">
                Crear nueva tarea
            </a>
        </li>
    </ul>
    {% endblock %}
