{% extends '::base.html.twig' %}
{% form_theme edit_form 'DevTaskBundle:Form:fields.html.twig' %}

{% block body -%}

    <div class="jumbotron">
        <h1>Editar Lista</h1>
    </div>
    
	<form action="{{ path('list_update', { 'id': entity.id }) }}" role="form" method="post" {{ form_enctype(edit_form) }}>
		<input type="hidden" name="_method" value="PUT" />
		<div class="form-group">
	    {{ form_errors(edit_form) }}
		{#
		{{ form_row(edit_form.task) }}
		{{ form_widget(edit_form.complete) }}
		#}
		{{ form_rest(edit_form) }}
		<p>
			<button type="submit" formnovalidate>Actualiza</button>
		</p>
		</div>
	</form>

<ul class="pager">
    <li><a href="{{ path('list') }}">Volver a la lista</a></li>
</ul>
{% endblock %}
