{% extends '::base.html.twig' %}

{% block body -%}
   
   <h1>Lista: '{{ entity.name }}'</h1>

    <table class="records_list">
        <tbody>
            <tr>
                <td colspan="3">
                    <div class="itemcreate">+ Nuevo item</div>
                </td>

        {% for item in items %}
            <tr>

                <td id="task-complete-{{ item.id }}">
                    <a class="ajax-task-complete" href="{{ path('task_edit_complete', { 'id': item.id }) }}">
                        {% if item.complete %} X {% else %} O {% endif %}</a>
                </td>                
                
                <td>
                    <div class="taskedit" id="{{ item.id }}">{{ item.task }}</div>
                </td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('item_show', { 'id': item.id }) }}">detalle</a>
                        </li>
                        
                        <li>
                            <a href="{{ path('item_delete', { 'id': item.id }) }}">borra</a>
                        </li>
                           
                    </ul>
                </td>
                
            </tr>
        {% endfor %}
            
        </tbody>
    </table>


<ul class="record_actions">
    <li>
        <a href="{{ path('list') }}">
            &lt;- Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
