{% extends '::base.html.twig' %}

{% block body -%}
   
    <div class="jumbotron">
        <h1>Items</h1>
        <p>{{ entity.name }}</p>
    </div>

    <p class="itemcreate btn-link">Nuevo item &gt;</p>

    <table class="table-striped">
        <tbody>
            
    {% for item in items %}
        <tr>
            <td style="width:1rem; padding: 1rem;">
                <div id="task-complete-{{ item.id }}">
                     <a class="ajax-task-complete" href="{{ path('task_edit_complete', { 'id': item.id }) }}">
                        {% if item.complete %} X {% else %} O {% endif %}</a>
                </div>
            </td>
            <td style="width:42rem; padding: 1rem;">    
                <div class="taskedit" id="{{ item.id }}">
                    {{ item.task }}
                </div>
            </td>
            <td>
                <a href="{{ path('item_detail', { 'id': item.id }) }}" class="btn btn-link">detalle</a>
            </td>
        </tr>
    {% endfor %}
    
        </tbody>
    </table>    


<ul class="pager">
    <li><a href="{{ path('list') }}">Volver a la lista</a></li>
</ul>
{% endblock %}
