{% extends '::base.html.twig' %}

{% block body -%}

    <div class="jumbotron">
        <h1>Item: {{ entity.task }}</h1>
    </div>
    
    <table class="table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tarea</th>
                <td>{{ entity.task }}</td>
            </tr>
            <tr>
                <th>Completada</th>
                <td>{{ entity.complete }}</td>
            </tr>
            <tr>
                <th>Creada</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="pager">
    <li><a href="{{ path('list_items', { 'id': entity.tasklist.id }) }}">Volver a la lista</a></li>
    {#<li>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>#}
    </ul>
{% endblock %}
